.userCard {
    border-color: black;
    border-width: 2em;
    background-color:silver;
    height: 427px; 
    width: 720px; 
}

.bar-color {
    background-color: blue;
    height: 100px;
}

.user-icon {
    height: 130px;
    position: absolute;
    left: 37px;
    top: 45px;
}


.pin-mark {
    height: 30px;
    position: absolute;
    left: 48px;
}

.gear {
    height: 30px;
    margin-left: 2em;
}

h1 {
    margin-top: 2em;
    margin-left: .9em;
    font-size: 35px;
}

h2 {
    margin-left: 3em;
}

h3 {
    margin-left: 2em;
}

a {
    margin-left: 1em;
    position: relative;
    bottom: 10px;
}